.app-container {
    width: 100%;
    min-height: 100vh;
}

.admin-layout {
    width: 100%;
    min-height: 100vh;
    background: transparent;
}

.header-hero{
    width: 100%;
    height: 100dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    animation-name: changePicture;
    animation-timing-function: ease-in;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.hero-pattern{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100dvh;
    background-color:rgba(0,0,0,0.4);
    z-index: -1;
}
