<div class="app-container">
  <!-- Admin Layout -->
  <div *ngIf="isAdminRoute" class="admin-layout">
    <router-outlet></router-outlet>
  </div>
  
  <!-- Main Website Layout -->
  <div *ngIf="!isAdminRoute" class="header-hero">
    <img
      src="assets/my_img/1.jpg"
      alt="background1"
      style="display: none"
    />
    
    
    <div class="hero-pattern"></div>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="!isAdminRoute"></app-footer>
</div>
