<section class="section-5">
    <div class="section5-pattern"></div>
    <div class="container section5">
        <div class="section5-text">
            <h1 class="section5-title">Summer Promo 50% Off</h1>
            <a href="/home" class="section5-btn">AVAIL NOW</a>
        </div>
        <div class="section5-date">
            <h1 class="date-title">THE PROMO WILL START IN</h1>
            <h1 class="date">00 <span>weeks</span> 00 <span>days</span> 00 <span>hr</span> 00 <span>min</span> 00 <span>sec</span></h1>
        </div>
    </div>
</section>